
.join
    position: relative
    height: 100vh

.join-container
    top: 0
    position: sticky
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    p
        margin: 0
        color: white

.join-title
    font-family: Pretendard
    font-weight: 400
    font-size: 64px

.join-subtitle
    text-align: center
    font-family: Pretendard
    font-weight: 300
    font-size: 28px
    padding-bottom: 120px

.join-apply
    font-family: Pretendard
    font-weight: 300
    font-size: 28px
    margin-bottom: 30px

@media screen and ( max-width: 1023px )
    .join-title
        font-size: 60px
    .join-subtitle
        font-size: 24px
